body {
    font-family: 'Arial', sans-serif;
   
}

header {
    text-align: center;
}

h1 {
    color: #333;
}
h2 {
    color: #0a41f7;
}


p {
    color:  #333;
}

strong {
    color: #0a41f7;
}

#education, #experience, #language {
    margin-top: 20px;
}

/* Font color for links */
a {
    color: #007BFF;
}

/* List styles */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Style for language section */
#language p {
    margin-bottom: 5px;
}
/* Style for language section */
#experience p {
    margin-bottom: 5px;
    color:brown
}